.frame {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 1fr 50px;
}

/* STYLEING FRME CONTENT AREA 
_______________________________________ */
.frame__content {
    padding: 0px 10px 0 10px;
    background-color: #fff;
    max-height: 600px;
}

/* CONTENT HEADER STYLES START_____________  */
.content__header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__img-area {
    height: 30px;
    width: 30px;
    overflow: hidden;
    outline: 2px solid #E6DFF1;
    outline-offset: 5px;
    border-radius: 50%;
    margin-left: 6px;
}

.img-area__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header__buttons {
    display: flex;
    gap: 2px;
}

.buttons__btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.buttons__btn:nth-child(1)::before {
    height: 7px;
    width: 7px;
    background-color: tomato;
    display: block;
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 7;
    left: 7;

}

.buttons__btn:nth-child(1):hover {
    background-color: #ffb74a34;
}

.buttons__btn:nth-child(2) {
    background-color: #E6DFF1;
}

/* CONTENT HEADER STYLES END_____________  */

/* CONTENT HEADER GREETINGS START_____________  */
.greetings__admin {
    font-family: noto-bold;
    font-size: 3rem;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.726);
}

.greetings__description {
    font-family: noto-regular;
    font-size: 1.5rem;
    color: rgb(80, 80, 80);
}

.greetings__list {
    display: flex;
    gap: 20px;
    margin-top: -10px;
}


.list__bar {
    height: 150px;
    width: 3px;
    background-color: #F1DFDE;
    margin-top: 30px;
    margin-left: 10px;
}

.list__item {
    list-style: none;
    font-family: noto-regular;
    font-size: 1.5rem;
}

.list__item::before {
    content: "";
    height: 25px;
    width: 25px;
    background-color: #F1DFDE;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -33px;
    top: 23px;
    position: relative;
    border-radius: 50%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: rgb(58, 58, 58);
    font-size: 1.2rem;
}

.list__item:nth-child(1)::before {
    content: "\f185";
}

.list__item:nth-child(2)::before {
    content: "\f133";
}

.list__item:nth-child(3)::before {
    content: "\f017";
}

.list__item:nth-child(4)::before {
    content: "\f0ae";
}

.item__sub {
    background-color: #f1dfde91;
    margin: 5px 0;
    padding: 7px 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 1.3rem;
    padding-right: 20px;
}

.item__sub::before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #E6DFF1;
    border-radius: 50%;
    outline: 2px solid white;
    outline-offset: 1px;
    border: 3px;
    display: flex;
    margin-right: 10px;
    margin-left: 5px;
}

/* CONTENT HEADER GREETINGS END_____________  */

/* CONTENT CALENDER STYLEING START_____________  */
/* #_header_area_start  */
.calender__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.header__navigator {
    display: flex;
    gap: 5px;
    margin-right: 5px;
}

.header__title {
    font-size: 2rem;
}

.color {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
}

.color::before {
    display: block;
    top: -30px;
    left: 17px;
    position: absolute;
    padding: 5px 10px;
    font-size: 1.2rem;
    color: black;
    border-radius: 5px;
    background-color: #C0DEDD;
    box-shadow: rgba(0, 0, 0, 0.103) 1.95px 1.95px 2.6px;
    transform: translate(-100%);
    display: none;
    transform-origin: center;
    transition: 2s;
}

.color::after {
    content: "";
    border: 5px solid black;
    border-top-color: #C0DEDD;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    display: none;
    position: absolute;
    top: -7px;
    left: 2px;
}

.navigator__red {
    background-color: tomato;

}

.navigator__red::before {
    background-color: tomato;
    color: white;
    content: "Dedline";
    display: block;
}

.navigator__red::after {
    border-top-color: tomato;
    display: block;
}

.navigator__red:hover::after,
.navigator__red:hover::before {
    display: block;
}


.navigator__green {
    background-color: var(--assignmet-start);
}

.navigator__green::before {
    content: "Start time";
    background-color: var(--assignmet-start);
    white-space: nowrap;
    color: white;
}

.navigator__green::after {
    border-top-color: var(--assignmet-start);
}

.navigator__green:hover:before,
.navigator__green:hover::after {
    display: block;
}

/* #_header_area_end  */

/* #_calender_area_start  */
.calender__data {
    margin-top: 10px;
}

.data_headers,
.data__body {
    display: flex;
    justify-content: space-around;
}

.headers__value {
    font-family: noto-regular;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(155, 153, 153);
}

.data__body {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.body__value {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    font-size: 1.3rem;
    font-family: noto-regular;
    color: rgba(0, 0, 0, 0.781);
}

.assignment {
    outline: 3px solid var(--assignmet-start);
    outline-offset: -3px;
}

.deadline {
    outline: 3px solid tomato;
    outline-offset: -3px;
}



/* #_calender_area_end  */



/* CONTENT CALENDER STYLEING END_____________  */





/* li {
    margin-left: 20px;
    list-style: none;
    margin-left: 30px;
    margin-top: 20px;

} */

/* li::before {
    content: "";
    height: 130px;
    width: 3px;
    background-color: black;
    display: block;
    margin: 5px 20px;
    position: absolute;
    left: -10;
    top: 0;
} */

/* ul::before {
    content: "";
    height: 40px;
    width: 3px;
    display: flex;
    background-color: red;
} */


/* ul {
    margin-bottom: 20px;
}

ul li {
    position: relative;
    list-style: none;
    border: 1px solid red;
}

ul li::before {
    content: "";
    height: 20px;
    width: 2px;
    background-color: #C0DEDD;
    display: flex;
    margin-left: -15px;
}

ul li::after {
    position: absolute;
    top: 31px;
    left: -21px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    background-color: #F1DFDE;
    color: black;
    padding: 5px;
    border-radius: 50%;
}

ul li:nth-child(1):after {
    content: "\f185";
}

ul li:nth-child(2):after {
    content: "\f133";
}

ul li:nth-child(3):after {
    content: "\f017";
}

ul li:nth-child(4):after {
    content: "\f0ae";
} */




.frame__navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonBg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 10px;
    transform: scale(1);
    transition: .3s;
}

.buttonBg:hover,
.buttonBg.active {
    background-color: #F1DFDE;
    margin-bottom: 10px;
    z-index: 1;
    transform: scale(1.1);
    border-radius: 50%;
    margin-bottom: 20px;
}

.content__area {
    overflow: scroll;
    max-height: 400px;
}

.content__area::-webkit-scrollbar {
    display: none;
}



.avatar {
    height: 35px;
    width: 35px;
}

.calender__area {
    display: grid;
    grid-template-columns: repeat(7, 30px);
    grid-template-rows: repeat(6, 30px);
    grid-auto-rows: auto;
    row-gap: 5px;
    column-gap: 5px;
    margin-top: 10px;
    background-color: white;
}

.calVal {
    display: grid;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    border-radius: 10px;
    /* border: 1.5px solid gray; */
    font-size: 1.4rem;
}



.fixed__area {
    position: -webkit-sticky;
    /* Safari */
    /* position: sticky; */
    top: 0;
    z-index: 1;

}

.notice {
    margin-top: 10px;
}

.notice__title {
    margin-bottom: 20px;
}

.notice__card {
    background-color: rgba(243, 225, 225, 0.877);
    padding: 10px 5px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
}

.notice__card::before {
    content: "22-12-2022";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-0%, -100%);
}

.card__txt {
    font-size: 1.5rem;
}

.card__date {
    display: block;
    text-align: right;
}

.readmore {
    display: block;
    text-align: right;
    font-size: 1.4rem;
}

.card__admin {
    height: 20px;
    width: 20px;
}

.card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}





.cards-area__card {
    background-color: blueviolet;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    margin-top: 10px;
}

/* .area__header {
    display: flex;
    align-items: center;
} */

.header__icons {
    margin-left: auto;
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
    align-items: center;

}

.profile {
    border: 1px solid rgb(71, 71, 71);
    padding: 5px;
    border-radius: 50%;
}

.admin_name {
    margin-top: 10px;
}