.content__area {
    overflow: scroll;
    height: 370px
}

.content__area::-webkit-scrollbar {
    display: none;
}

.navigatoin__area {
    padding-top: 10px;
    display: grid;
    height: 40px;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}