/* GOOGLE FONTS  */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600;700;900&family=Roboto:wght@300;400;700;900&display=swap");

@font-face {
    font-family: noto-bold;
    src: url(../fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: noto-regular;
    src: url(../fonts/NotoSans-Regular.ttf);
}


/* _____________________________________VERIABLES START*/
:root {
    /* COLOR */
    --color-primary: #0066ffe7;
    --color-secondary: #7a869a;
    --color-secondary-light: #efefef;
    --color-light: #fff;
    --color-danger: #f05050;
    --color-dark: #00000081;
    --color-black: #000000;


    --assignmet-start: rgb(58, 233, 58);
    /* FONTS  */
    --title-text: "Roboto", sans-serif;
    --body-text: "Raleway", sans-serif;
}

/* 
---------------------------------
CSS RESET
--------------------------------- 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.25%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 1.6rem;
    font-family: var(--body-text);
    background-color: #F8EEE6;
}


.border {
    border: 1px solid green;
}

/* 
---------------------------------
STYLE FRAME AREA
--------------------------------- 
*/
.frame {
    height: 510px;
    width: 260px;
    border-radius: 20px;
    background-color: var(--color-light);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 1fr;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/*statusbar style________________ */
.frame__statusbar {
    display: flex;
    align-items: baseline;
    padding: 10px;
    font-size: 1.4rem;
}

.statusbar__time {
    font-weight: bold;
    margin-right: auto;
}

.statusbar__icon.fa-signal,
.statusbar__icon.fa-wifi {
    font-size: 1.2rem;
}

.statusbar__icon {
    margin-left: 5px;
}

.frame__content {
    display: flex;
    padding: 15px;
    flex-direction: column;
    position: relative;
    overflow: scroll;
}

.frame__content::-webkit-scrollbar {
    display: none;
}

.form-warning {
    color: red;
}

.frame__navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonBg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 10px;
    transform: scale(1);
    transition: .3s;
}



.buttonBg:hover,
.buttonBg.active {
    background-color: #F1DFDE;
    margin-bottom: 10px;
    z-index: 1;
    transform: scale(1.1);
    border-radius: 50%;
    margin-bottom: 20px;
}